<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/loginstyle.css" />
    <link rel="shortcut icon" href= "/static/images/g1logo nobg.svg" type="image/x-icon"> 
    <title>Goenka One Solutions</title>
</head>

<body>
    <div class="container-signup">
        <div class="forms-container">
            <div class="signup">
              <form action="/accounts/signup/" class="sign-up-form" method="POST">
                <a href="/"><img class="img-logo-signup" src="/static/images/goenkaonesolutions logo.svg" alt="logo"></a>
                <h2 class="title" style="padding: 8vmin 0;">Contact Us</h2>
                <div class="social-media">
                    <a target= "_blank" href="https://www.facebook.com/mayank.goenka.3950/" class="contactus social-icon" style="width: 80px; height: 80px;font-size: 2rem;margin: 0vmin 3vmin;">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target= "_blank" href="https://twitter.com/mayank672000/" class="contactus social-icon" style="width: 80px; height: 80px;font-size: 2rem;margin: 0vmin 3vmin;">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="mailto:mayankgoenka9@gmail.com?subject=Service Enquiry" class="contactus social-icon" style="width: 80px; height: 80px;font-size: 2rem;margin: 0vmin 3vmin;">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a target= "_blank" href="https://www.linkedin.com/in/mayankgoenka9/" class="contactus social-icon" style="width: 80px; height: 80px;font-size: 2rem;margin: 0vmin 3vmin;">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel right-panel">
                <div class="content">
                    <h3>Write To Us <br><br> And We Will Solve All Your Queries.</h3>
                </div>
                <img src="/static/images/contactus.svg" class="image" alt="" />
            </div>
        </div>
    </div>

    <script src="/static/js/loginapp.js"></script>
</body>

</html>