
{% extends "base.html" %}



{% block content %}

<div class="container text-center">
   <div class="row">
     <div class="col-md-7 col-sm-12 h-25 text-white">
       <h6>This is our story</h6>
       <h1>G-ONE SOLUTIONS</h1>
       <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa sequi expedita.
       </p>
       <a href="contactus/"><button class="btn btn-outline-primary btn-lg">
         CONTACT US
       </button></a>
     </div>
     <div class="col-md-5 col-sm-12 h-25 ">
       <img src="/static/images/g1logo nobg.svg" alt="g1solutions" />
     </div>
   </div>
 </div>

{% endblock content %}
    
    